.header_total {
  position: fixed;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #606060;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .header__logo {
    margin-left: 70px;
    font-size: 40px;
    align-items: center;
    a:link {
      text-decoration: none;
      color: white;
    }
    a:visited {
      text-decoration: none;
      color: white;
    }
  }
  &:nth-child(2) {
    width: 100%;
    justify-self: center;
  }

  &:last-child {
    justify-self: end;
  }

  ul.menu {
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;

    li:not(:last-child) {
      margin-right: 17px;
    }
    a:link {
      text-decoration: none;
      color: white;
    }
    a:visited {
      text-decoration: none;
      color: white;
    }
  }

  ul.user {
    display: flex;
    color: white;
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;
    float: right;
    a:link {
      text-decoration: none;
      color: white;
    }
    a:visited {
      text-decoration: none;
      color: white;
    }
    li:not(:last-child) {
      margin-right: 15px;
    }
    li:last-child {
      margin-right: 70px;
    }
  }
}
