extends layouts/main 
include mixins/modelBlock

block content
    .blogs
        each item in Uploadblog
            +modelBlock({
                id:item.id,
                blogFile: item.img,
                title:item.title,
                post:item.post,
            })
    a(href=`/blog${routes.upload}`) Go To Post!
        