extends layouts/main 
include mixins/modelBlock

block content
    .blog__main
        .post__link
            a.upload_link(href=`/blog${routes.upload}`) Go To Post!
        .blogs
            each item in blogs
                +modelBlock({
                    id:item.id,
                    blogFile: item.fileUrl,
                    title:item.title,
                    post:item.post,
                })
                