extends layouts/main

block content
    .home__content
        .main__info
            .main__title 
                strong Hello Travelers!
            .main__subtitle
                strong Welcome To Korea.
                a(href=routes.info)
                    p If you want to know about Korea Click Here👈
        .main__pic
            img(src="img/mainpage/main.jpg")
    