extends layouts/main

block content
    .form-container
        form(action=routes.login,method="post")
            input(tpye="email", name="email", palceholder="Email",required=true)
            input(type="password",name="password",palceholder="Password",required=true)
            input(type="submit", value="Log In")