.transport__nav
    nav.transport__bar
        ul.transport__nav__bar
            li
                a(href=`/transport${routes.bus}`) Bus
            li
                a(href=`/transport${routes.metro}`) Metro
            li
                a(href=`/transport${routes.taxi}`) Taxi
            li
                a(href=`/transport${routes.moretrans}`) Other transport