.home__content {
  width: 100%;
  text-align: center;
  .main__info {
    align-self: center;
    padding-bottom: 20px;
    .main__title {
      font-weight: bold;
      font-size: xx-large;
    }
    .main__subtitle {
      font-size: xx-large;
      a:link {
        text-decoration: none;
      }
      a:visited {
        color: black;
      }
      p {
        margin-top: 5px;
        font-size: large;
      }
    }
    div:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  .main__pic {
    img {
      width: 1600px;
      height: 800px;
    }
  }
}
