.join__title {
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
  .join-main__title {
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 10px;
  }
  .join-main__subtitle {
    font-weight: 500;
    font-size: large;
  }
}
